html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html *,
html *::before,
html *::after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: transparent;
}
