html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html *,
html *::before,
html *::after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html #page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#AD0F10), to(#93f010));
  background: linear-gradient(to right, #AD0F10, #93f010);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
}

html #page #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html #page #header * {
  color: #010b15;
  text-shadow: 0rem 0rem .5rem;
  font-size: 2.5rem;
  margin: .4rem;
}

html #page #formeTache {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  background-color: #3e5eBc;
  color: #ffffff;
  font-weight: bold;
  width: 40rem;
  min-height: 5rem;
  margin: 1rem auto;
  font-size: 1.5rem;
}

html #page #formeTache * {
  padding: .3rem .5rem;
}

html #page #formeTache #tacheLabel {
  margin-right: .1rem;
}

html #page #formeTache #tache, html #page #formeTache #ajoutTache {
  font-size: 1.2rem;
  background-color: #010b15;
  color: #ffffff;
  border: none;
  outline: none;
  padding: .5rem 1rem;
  margin: 1.5rem 0;
}

html #page #formeTache #filtre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  background-color: #010b15;
  color: #ffffff;
  border: none;
  outline: none;
  padding: .5rem 1rem;
}

html #page #formeTache #tacheListe {
  background-color: #3e5eBc;
  margin: 2.5rem auto;
  padding: 1rem;
}
