html{
    font-size: 100%;
    box-sizing: border-box;
    
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
        box-sizing: inherit;
    }
    
    #page {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        background: linear-gradient(to left, #131a30, #5e1841);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        #header{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            padding: 1rem .5rem;
            background-color: #090b13;

            * {
                color: #010b15;
                text-align: center;
                color: #ffffff;
            }
        }

        #container{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 1rem;
            flex-wrap: wrap;

            #formeTache {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem;
                background-color: #131a30;
                margin: 0 .5rem 1.5rem;
                box-shadow: .1rem 1rem 1.5rem #000000;

                #filtre {
                    width: 15rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    background-color: #010b15;
                    color: #f7ABdf;
                    border: none;
                    outline: none;
                    padding: .5rem;
                    margin-bottom: 2.5rem;
                    cursor: pointer;
                }

                #tacheInfos{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    color: #f7ABdf;

                    #tacheBox{
                        display: flex;
                        flex-direction: column;

                        #tacheLabel {
                            text-align: center;
                            font-size: 1.1rem;
                            padding: .1rem;
                            margin-bottom: .1rem;
                        }
                        #tache {
                            border-right: .1rem solid #5e1841;
                            background-color: #010b1d;
                            border: none;
                            outline: none;
                            padding: .5rem .7rem;
                            color: #f7ABdf;
                        }
                    }

                    #ajoutTache {
                        align-self: flex-end;
                        border: none;
                        outline: none;
                        padding: .5rem .7rem;
                        color: #f7ABdf;
                        cursor: pointer;
                        background-color: #020304;
                    }
                }
            }

            #tacheListe {
                flex: 3;
                display: flex;
                flex-direction: column;
                margin: 0 .5rem;
                padding: .5rem;
                border-radius: .5rem;
                background-color: #6b8ad1;
                box-shadow: .1rem 1rem 1.5rem #000000;

                #tacheTittle{
                    text-align: center;
                    font-size: 2rem;
                    margin: 1rem auto;
                }

                .tache {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    padding: .2rem;
                    background-color: #1a1b1d;
                    margin-bottom: .5rem;

                    .tacheTexte {
                        width: 100%;
                        font-weight: bold;
                        padding: .2rem .5rem;
                        margin: .2rem auto .2rem auto;
                        background-color: #c6ccda;
                        font-size: .856rem;
                    }

                    .tacheControl {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                    }

                    .tacheSup {
                        cursor: pointer;
                        margin: .2rem .4rem;
                        border-radius: .5rem;
                        padding: .1rem .5rem;
                        font-size: .856rem;
                        font-weight: bold;
                        outline: none;
                        border: none;
                    }

                    .tacheComp {
                        cursor: pointer;
                        margin: .2rem .4rem;
                        font-weight: bold;
                        background-color: #000000;
                        color: #93f010;
                        border-radius: .5rem;
                        padding: .1rem .5rem;
                        font-size: .856rem;
                        outline: none;
                        border: none;
                    }

                    .complete {
                        text-decoration: line-through;
                        font-weight: bold;
                        text-shadow: .1rem .1rem 1rem #fe0000;
                        color: rgba(53, 53, 61, 0.823);
                    }
                }
            }
        }
    }
}
